@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
}

.logo img {
    width: 150px;
    height: 150px;
    margin-left: 100px;
    position: relative;

}

header {
    position: fixed;
}

body {
    background-color: #ffffff;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    display: flex;
    position: fixed;
    background-color: white;
    padding-left: 710px;
}

.register-link {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-left: -250px;
    margin-top: 20px;
    background-color: white;
    width: 900px;
}

li {
    list-style: none;
    justify-content: space-between;
}

li a {
    margin-left: 50px;
    margin-right: 50px;
}

.navbar img {
    margin-left: -300%;
}

.register-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    font-size: large;

}

.register-link p a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000000;
    bottom: -3px;
    left: 50%;
    transition: width 0.4s ease, left 0.4s ease;
}

.register-link p a:hover::after {
    width: 100%;
    left: 0;
    color: darkred
}

.secaoinicial {
    height: 80vh;
    background: url('../img/restaurant-449952.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.secao1 {
    height: 100vh;
}

.conteudo1 {
    display: flex;
    justify-content: baseline;
    padding: 100px;
    margin-left: 400px;
    margin-right: 400px;




}


.gusteaus {
    font-size: 40px;
    font-family: Garamond;
    font-weight: 100;
}

.divisor{
    width: 100px; /* Largura do divisor */
  height: 2px; /* Espessura do divisor */
  background-color: #333; /* Cor do divisor */
  border: none; /* Remove bordas padrão */
  margin: 10px auto; /* Centraliza o divisor */
}

.secao2 {
    height: 100vh;
    background: url('../img/img3.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}