@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
 
body {
  font-family: 'Poppins' , sans-serif;
    background-color: #7c2f2f;/*fundo da pagina*/
    color: rgb(154, 59, 59); /*cor d texto geral*/
    min-height: 100vh;
    overflow-x: hidden;
}
 
.carrossel-container {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 1000px;
}
 
.carrossel {
    display: flex;
    transition: transform 1s ease-in-out;
    animation: deslizar 25s infinite;
}



 
.item {
    position: relative;
    width: 100%;
    flex-shrink: 0;
}
 
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease-in-out, filter 1s ease;
  
}
.item:hover img {
  transform: scale(1.1);
  filter: brightness(0.7) blur(5px);
}
 
 
.item .texto {
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -54%);
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    z-index: 2;
}
 
@keyframes deslizar {
    0% {
        transform: translateX(0);
    }
    5% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(-100%);
    }
    20% {
        transform: translateX(-100%);
    }
    25% {
        transform: translateX(-100%);
    }
    30% {
        transform: translateX(-100%);
    }
    35% {
        transform: translateX(-200%);
    }
    40% {
        transform: translateX(-200%);
    }
    45% {
        transform: translateX(-200%);
    }
    50% {
        transform: translateX(-200%);
    }
    55% {
        transform: translateX(-300%);
    }
    60% {
        transform: translateX(-300%);
    }
    65% {
        transform: translateX(-300%);
    }
    75% {
        transform: translateX(-300%);
    }
    85% {
        transform: translateX(-300%);
    }
    90% {
        transform: translateX(0);
    }
}

.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(192, 130, 97); /*fundo sidebar*/
    padding-top: 60px;
    color: white; /**/
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-out;
    background-image: url(../img/GUSTEAUS\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 300px;
}

/* links da sidebar */
.sidebar a {
    padding: 15px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white; /*links*/
    display: flex;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: rgb(226, 199, 153); /*barra do hover */
    color: rgb(154, 59, 59); /*cor no hover*/
}

.sidebar h2 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white; /*cor do titulo*/
    display: block;
    margin: 10px;
    margin-top: 15px;
}

.sidebar ul {
    margin-top: 180px;
}


.caixa {
  position: relative;
  height: 800px;
  background-color:  rgb(226, 199, 153); 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.content {
  position: absolute;
  z-index: 2;
  color: #333;
  animation: fadeIn 2s ease-in-out;
  margin-left: 150px;
  margin-top: 450px;
}

.text-container {
  padding-top: 600px;
  margin-left: 370px;
}

.textoanimado {
  font-size: 24px;
  font-weight: bold;
  margin-left: -800px;
}

.btn-cardapio {
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  animation: bounce 2s infinite;
  margin-right: 570px;
  margin-bottom: 400px;
}

.btn-cardapio:hover {
  background-color: rgba(154, 59, 59, 0.616);
  color: #ffffff;
}

.image-container {
  position: absolute;
  z-index: 1;

}

.image-container2{
  width: 1000px;
  height: 1000px;
  position: relative;
  background-color:  rgb(192, 130, 97);
  clip-path: circle(95% at bottom right);
  bottom: -763px;
  margin-right: -147px;
  



}


.bau {
  margin-right: 400px;
  margin-bottom: -200px;
  
}

.animated-title {
  font-size: 3em;
}

.animated-subtitle {
  font-size: 1.5em;
  margin-top: 10px;
}






.ratatuile {
  background-repeat: no-repeat;
  margin-right: -1000px;
  margin-top: 100px;
  
}

.ratatuile img {
  width: 100%;
  height: 100%;

}


/*animaçoes*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}



.image-container2{
background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 650px;
    height: 650px;
    margin-top: -700px;
    margin-left: 1100px;

}

.list{
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 450px;
  gap: 50px;
  margin-left: 850px;
  margin-top: 120px;
}
.list .card img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  transition: 0.5s;

}

.list .card:hover img {
  transform: scale(1.2);
}

.list .card {
  color: #c7c3c3;
  position: relative;
  transition: 0.5s;
}

.list .card .contentcard {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 20px;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}


.list .card:hover .contentcard {
  opacity: 1;
  transform: translateY(0);

}

.list:hover .card:not(:hover){

filter: blur(8px);

}





.sobre {
  margin-left: 300px;
  margin-top: -500px;
  padding: 40px;
  width: 80%;
  max-width: 600px; /* ta bugando e botei pra limitar */
}

h1 {
  font-size: 48px;
  color: #fff; /* corzinha */
  margin-bottom: 20px;
  font-family: 'Poppins' , sans-serif; /* tive q colocar pq bugou as fontes*/
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /*sombra*/
}

p {
  font-size: 24px;
  color: #fff;
  line-height: 1.6;
  font-style: italic;
  font-family: 'Poppins' , sans-serif;
}

/* estilo responsivo teste */
@media (max-width: 768px) {
  h1 {
      font-size: 36px;
  }

  p {
      font-size: 20px;
  }
}




.social-links {
  display: flex;
  gap: 15px;
  margin-top: 300px;
}

.social-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.social-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.social-icon:hover .social-img {
  transform: scale(1.1);
}